# =========================
# git
# =========================
.git/

# =========================
# log
# =========================
*.log

# =========================
# Environment
# =========================
.env
.env.*
venv/

# =========================
# db
# =========================
db.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd